/*
 * CSS should follow the BEM naming principles.
 * See http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
 */


/*
 * A font from Google's CDN is used. It may not be so bad on the performance
 * because it probably is in the browser's cache already anyway.
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/*
 * General
 */

body {
	font-size: 15px;
	font-family: "Source Sans Pro";
	line-height: 1.5em;
}

/*
 * Forms
 */

.order-form {
	max-width: 500px;
	margin: auto;
}
.order-form__form-field {
	padding: .6em 0;
	width: 100%;
}
.order-form__street,
.order-form__street_no,
.order-form__zipcode {
	display: inline-block;
}
.order-form__street {
	max-width: 33%;
}
.order-form__street_no {
	max-width: 10%%;
}
.order-form__zipcode {
	max-width: 20%%;
}

.order-form__form-field input {
	width: 100%;
}

.order-form__form-field label {
	display: block;
}

.order-form__form-field label:not(.required):after {
	content: " (optional)";
	color: #ccc;
	font-size: .8rem;
}

.form-field__help-text {
	color: #ccc;
}

.order-form .form-field__help-text {
	display: block;
	font-size: .8rem;
}

