/*
 * CSS should follow the BEM naming principles.
 * See http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
 */


/*
 * A font from Google's CDN is used. It may not be so bad on the
 * performance because it probably is in the browser's cache
 * already anyway.
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);



/*
 * General
 */

/* Outlines in corporate color */

*:focus {
    outline: #84329B auto 5px;
}

/* Use quirks mode box model because it's the best box model */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation
 *    change, without disabling user zoom.*/

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Allow only vertical resizing of textareas. */

textarea {
    resize: vertical;
}

/* 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari,
 *    and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

body {
    margin: 0; /* Remove default margin */

    font-size: 15px;
    font-family: "Source Sans Pro";
    line-height: 1.5em;
}


/*
 * Forms
 */

.quickstart__wrapper {
    position: absolute;
    top: 50px;
    left: 50%;
    margin: auto;
    margin-left: -250px;
    width: 500px;
    z-index: 99999;
}
.quickstart__price {
    right: 0;
    margin: 0.25em 0;
    padding: 1em;
    color: #fff;
    background-color: #94B24D;
    box-shadow: 4px 5px 5px rgba(0,0,0,.2);
    font-weight: bold;
    font-size: 1.3em;
}
.quickstart__price a {
    text-decoration: none;
    color: inherit;
}
#price_wrapper .quickstart__price {
    box-shadow: none;
}

.quickstart {
    display: flex;
    padding: 1em;

    background-color: #fff;
    box-shadow: 4px 5px 5px rgba(0,0,0,.2);
    justify-content: space-between;
    align-items: center;
}
.quickstart input {
    width: 100%;
    padding: .5em;

    color: #111;

    background-color: hsl(0, 0%, 93%);
    border: none;
}
.quickstart__arrow {
    color: #84329B;
    font-size: 1.5em;
    vertical-align: middle;
    margin: 0 .5em;
}

.order-form {
    max-width: 500px;
    margin: auto;
}
.order-confirmation__header,
.confirmation__header,
.order-detail__summary-header,
.order-detail__progress-header,
.order-detail__rate-header,
.order-detail__map-header,
.order-detail__header,
.order-form__header {
    border-left: #84329B solid .5em;
    padding-left: .5em;
    margin: 2em 0 .25em 0;
}
.order-form__form-field {
    padding: .6em 0;
    width: 100%;
}
.order-form__form-field-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: -10px;
}
.order-form__form-field-wrapper > div {
    margin: 10px;
}
.order-form__street_no {
    max-width: 20%;
}
.order-form__zipcode {
    max-width: 20%;
}
.order-form__form-field input,
.order-form__form-field select,
.order-form__form-field textarea
{
    width: 100%;
    padding: .5em;

    color: #111;

    background-color: hsl(0, 0%, 93%);
    border: none;
}
.order-form__form-field label {
    display: block;
    color: #555;
}
.order-form__form-field label:not(.required):after {
    content: "(optional)";
    padding-left: .5em;
    font-size: .8rem;
    color: #777;
}
.form-field__help-text {
    color: #777;
}
.order-form .form-field__help-text {
    display: block;
    font-size: .8rem;
}
.order-form__submit {
    background-color: #84329B;
    color: #fff;
    border: none;
    padding: 1em;
    margin: 1em 0;
    width: 100%;
}
.order-form__form-field.error input,
.order-form__form-field.error select,
.order-form__form-field.error textarea
{
    background-color: hsl(0, 100%, 87%);
}
.order-form__form-field .errorlist {
    margin: 0;
    padding: 0;
}
.order-form__form-field .errorlist li {
    list-style: none;
    font-size: .9em;
    padding: .1em;
}
.order-form .errorlist.nonfield {
    padding: .5em;
    border-left: red solid .5em;
    padding-left: .5em;
    background-color: hsl(0, 100%, 87%);
}
.order-form .errorlist.nonfield li {
    margin-left: 1.5em;
}

.order-form__map {
    width: 100%;
    height: 400px;
    background-color: #E8E0D8 !important;
}

/*
 * Order detail
 */

.order-detail {
    max-width: 500px;
    margin: auto;
}
.order-detail__address {
    font-family: monospace;
    font-size: 1.2em;
    padding: .5em;
    background-color: #f7f7f7;
    margin: .5em 0 1em;
}
.order-detail__address--domain {
    color: #a0a0a0;
}
.order-detail__summary {
    display: flex;
    justify-content: space-between;

}
.order-detail__from-summary {
    float: left;
    max-width: 50%;
}
.order-detail__to-summary {
    float: right;
    max-width: 50%;
}
.order-detail__map {
    margin: 1em 0;
}
.order-detail__attribution {
    color: #999;
    font-size: .8em;
    margin: .5em 0;
    float: right;
}
.order-detail__attribution a {
    color: #999;
}
.order-detail__progress {
    list-style: none;
    width: 100%;
    margin: 1em 0;
    padding: 0;
    background-color: #f7f7f7;
}
.order-detail__status {
    padding: .5em;
}
.order-detail__status--current {
    background-color: hsla(75,60%,63%,1);
}
.status__timestamp {
    float: right;
    font-size: .9em;
    color: #555;
}

.order-summary__field {
    display: block;
    margin-top: .5em;
}
.order-summary__field label {
    color: #777;
    display: block;
    font-size: .9em;
}
.order-detail__calculation {
    font-size: 1.2em;
    margin: 1em 0;
}
.order-detail__distance,
.order-detail__rate,
.order-detail__price {
    border-bottom: 1px dotted #000;
}
.order-detail__price {
    font-weight: bold;
}

/*
 * Confirmation
 */

.confirmation,
.confirmation__footer {
    max-width: 500px;
    margin: 2.5em auto;
}
.confirmation__subheader {
    margin: 1.5em 0;
    line-height: 1.4em;
    font-size: 1.4em;
}
.confirmation__phone-numbers {
    max-width: 400px;
    min-width: 50%;
    margin: auto;
}
.confirmation__phone-numbers td {
    padding: 0 .5em;
}
.confirmation__phone-numbers a {
    text-decoration: none;
    color: inherit;
}

.confirmation__footer a {
    display: inline-block;
    width: 49%;
    padding: .5em;
    background: #84329B;
    border-left: 10px solid #84329B;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.confirmation__footer a:hover {
    transition: all .1s ease-in-out;
    border-left: 10px solid #98C11D;
}

/*
 * Footer
 */

.footer__terms {
    margin: 5em auto 3em;
    max-width: 500px;
    color: #999;
    font-size: .9em;
}
.terms__term {
    padding: 1em 0;
}
.terms__term a {
    color: #999;
}
.term__star {
    display: inline-block;
    width: 2em;
    margin-left: -2em;
    padding-right: .1em;

    color: hsl(0,0%,72%);
    font-size: 2em;
    text-align: right;
    vertical-align: text-top;
}

.footer__contact {
    max-width: 500px;
    margin: 5em auto;
}
.confirmation__our-phone-no,
.contact__phone-no {
    display: block;
    text-align: center;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    font-size: 2.8em;
    line-height: 2em;
}

/*
 *  General
 */

.mute { color: rgba(0,0,0,.5) }