{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="error-page">
    <h1 class="error-page__header">{% trans 'Seite nicht gefunden' %}</h1>

    <h2 class="error-page__subheader">{% trans 'Die angeforderte Seite existiert nicht.' %}</h2>

    <p>{% trans 'Wenn du über einen Link auf unserer Seite hierauf gestoßen bist, teile uns das bitte mit. Ansonsten hast du dich vermutlich einfach in der Adresszeile vertippt.' %}</p>

    <a href="/">{% trans 'Hier geht es zurück zur Startseite' %}</a>
</div>
{% endblock content %}

{% block footer %}
{% endblock %}
