{% extends 'base.html' %}

{% block content %}
<div class="error-page">
	<h1 class="error-page__header">Ein Fehler ist aufgetreten</h1>

	<p>Es tut uns Leid, dass dieser Fehler auftritt. Wir wurden bereits über den Vorfall benachrichtigt und werden uns schleunigst darum kümmern, den Fehler zu beheben.</p>

	<p>Bis wir das Problem in den Griff bekommen haben, kannst du uns gerne auch Aufträge per Telefon übermitteln:</p>

	<a class="contact__phone-no" href="tel:+49 030 50 58 51 00">
		(030) 40 58 51 00</a>

	Viele Grüße<br>
	die Technik-AG vom Fahrwerk Kurierkollektiv
</div>
{% endblock content %}

{% block footer %}
{% endblock %}
