{% load static %}
{% load pipeline %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Sendung aufgeben - Fahrwerk Berlin{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% stylesheet 'main' %}

        {% block head %}
        {% endblock %}

    </head>
    <body>
		{% block body %}
		{% endblock body %}

        {% block footer %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.1.min.js"><\/script>')</script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-75433740-1','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
        {% javascript 'main' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script src="{% static 'js/quickstart.jsx' %}" type="text/babel"></script>
    </body>
</html>
