{% load static %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static "main.css" %}">

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">Du verwendest einen Browser, welcher <strong>veraltet</strong> ist. Bitte <a href="http://browsehappy.com/">aktualisiere</a> ihn um sicherer zu surfen und um von aktuellen Standards profitieren zu können.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

		{% block body %}
		{% endblock body %}

        <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.1.min.js"><\/script>')</script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-75433740-1','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
