{% extends 'base.html' %}
{% load static %}

{% block head %}
	<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block content %}

<div id="quickstart"></div>

<div class="order-form__map" id='map'></div>

<!-- Form -->

<form method="post" action="/" class="order-form">
	{% csrf_token %}
	{{ wizard.management_form }}

	{% if form.errors %}
		<ul class="errorlist nonfield">
			Es befinden sich Fehler im Formular. Bitte korrigiere die markierten Felder:
		</ul>

		{{ form.non_field_errors }}

	{% endif %}

	<h2 class="order-form__header">Abholung</h2>

		{% include 'fwk/_order_form-field.html' with field=form.from_person %}
		{% include 'fwk/_order_form-field.html' with field=form.from_phone_no %}
		{% include 'fwk/_order_form-field.html' with field=form.from_company %}

		{% include 'fwk/_order_form-inline_field.html' with street=form.from_street  zipcode=form.from_zipcode %}

		{% include 'fwk/_order_form-field.html' with field=form.timeframe_pickup %}
		{% include 'fwk/_order_form-field.html' with field=form.from_comment %}

	<h2 class="order-form__header">Zustellung</h2>

		{% include 'fwk/_order_form-field.html' with field=form.to_person %}
		{% include 'fwk/_order_form-field.html' with field=form.to_phone_no %}
		{% include 'fwk/_order_form-field.html' with field=form.to_company %}
		{% include 'fwk/_order_form-inline_field.html' with street=form.to_street  zipcode=form.to_zipcode %}
		{% include 'fwk/_order_form-field.html' with field=form.timeframe_dropoff %}
		{% include 'fwk/_order_form-field.html' with field=form.to_comment %}

	<h2 class="order-form__header">Sendungsdetails</h2>

		<div class="order-form__form-field-wrapper">
			<div class="order-form__form-field">
				<img src="{% static 'svg/letter.svg' %}" width=40 height=40 />
				{{ form.packages_s.label_tag }}
				<input id="{{ form.packages_s.id_for_label }}" min="0" name="{{ form.packages_s.html_name }}" type="number" value="{{ form.packages_s.value }}" onchange=quickstartBox.handlePackageSChange() >
			</div>
			<div class="order-form__form-field">
				<img src="{% static 'svg/folder.svg' %}" width=40 height=40 />
				{{ form.packages_m.label_tag }}
				<input id="{{ form.packages_m.id_for_label }}" min="0" name="{{ form.packages_m.html_name }}" type="number" value="{{ form.packages_m.value }}" onchange=quickstartBox.handlePackageMChange() >
			</div>
			<div class="order-form__form-field">
				<img src="{% static 'svg/box.svg' %}" width=40 height=40 />
				{{ form.packages_l.label_tag }}
				<input id="{{ form.packages_l.id_for_label }}" min="0" name="{{ form.packages_l.html_name }}" type="number" value="{{ form.packages_l.value }}" onchange=quickstartBox.handlePackageLChange() >
			</div>
		</div>

		{% include 'fwk/_order_form-field.html' with field=form.package_detail %}
		{% include 'fwk/_order_form-field.html' with field=form.customer %}

	<div id="price_wrapper"></div>

	<input class="order-form__submit" type="submit" value="Bestellung aufgeben" />


</form>
{% endblock content %}



{% block footer %}

<div class="footer__contact">
	Bei Fragen aller Art stehen wir euch gerne telefonisch Rede und Antwort. Ruft einfach durch:
	<a class="contact__phone-no" href="tel:+49 030 50 58 51 00">
	(030) 40 58 51 00</a>
</div>

<div class="footer__terms">
	<div class="terms__term">
		<span class="term__star">*</span><a name="*"></a>

		Es kann aufgrund von nötiger Geldauslage, falsch angegebener
		Sendungsgröße, entstandener Wartezeit o.ä. zu anderen Preisen als den
		hier angegebenen kommen. Wir informieren euch, falls unvorhergesehene
		Kosten entstehen würden, darüber schnellstmöglich telefonisch.

		<p>
		Die hier dargestellten Preise verstehen sich &mdash; anders als in unserem <a
		href="http://www.fahrwerk-berlin.de/wp/preise/">Preis- und
		Leistungsverzeichnis</a> &mdash; inkl. 19% MwSt.
		</p>
	</div>
	<div class="terms__term">
		<span class="term__star">**</span><a name="**"></a>Je nach Auftragslage und Ort der
		Abholung und Zustellung können bis zur Abholung <nobr>120 Min</nobr>
		und bis zur Auslieferung <nobr>180 Min</nobr> vergehen. Sollten eure
		angegebenen Zeitfenster nicht eingehalten werden können, melden wir
		uns frühzeitig telefonisch bei euch!
	</div>
</div>




{% endblock footer %}
